# Local paths used by Hydra and artifact writers.
BONSAI_CONFIG_PATH=${PWD}/configs
BONSAI_MODELS=${PWD}/data/models
BONSAI_PROCESSED_DATA=${PWD}/data/processed_data
BONSAI_PREDICTIONS=${PWD}/data/predictions
